/* some better defaults for unstyled pages, it also provides a dark theme for users with it enabled*/
body {
  font-size: 18px;
  margin: auto;
  padding: 0 16px;
  line-height: 1.2em;
}
main {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
}
footer {
  text-align: center;
}
img {
  max-width: 600px;
  width: 100%;
  margin: auto;
  display: block;
}
h1,h2{
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: gainsboro;
  }
  a {
    color: skyblue;
  }
  a:visited {
    color: orchid;
  }
  h1,
  h2 {
    color: greenyellow;
  }
}