:root {
  --content-width: 650px;
}
body {
  background-image: url(bg.png);
  background-repeat: repeat;
  font-family: serif;
}
main {
  max-width: var(--content-width);
  height: 33vh;
  padding-bottom: 48px;
  margin: 0 auto;
  margin-top: 25vh;
  border-style: solid;
  border-color: gray;
  background-color: beige;
  padding: 4em;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-family: cursive;
}
.links {
  float: left;
  width: calc(var(--content-width) / 2);
}
#pizza {
  float: right;
  transition: transform 0.5s linear;
  display: inline;
}
#pizza:hover {
  transform: rotate(360deg);
}
#homepage-heading-link {
  display: inline-block;
  transition: transform 0.3s;
}
#homepage-heading-link:hover {
  transform: scale(1.1);
}
#use-a-pc {
  display: none;
}

@media only screen 
and (min-device-width : 300px) 
and (max-device-width : 750px) {
/* Styles */
    main{
        height: 100vh;
        margin: 0 auto;
        padding: 5px ;
        text-align: center;
    }
    #use-a-pc {
      display: block;
    }
    #pizza{
      display: block;
      float: none;
      margin: 0 auto;
    }
}