:root {
  --bg-color: cornsilk;
  --accent-color: DarkOliveGreen;
  --font-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #273019;
    --accent-color: wheat;
    --font-color: wheat;
  }
}

html {
  background: var(--bg-color);
  height: 100%;
  width: 100%;
  background-image: radial-gradient(var(--accent-color) 15%, transparent 16%),
    radial-gradient(var(--accent-color) 15%, transparent 16%);
  background-size: 8px 16px;
  background-position: 10px 2px, 5px 10px;
}

body {
  font-family: "Bookman Old Style", Georgia, serif;
  font-size: 16px;
  color: var(--font-color);
  background-color: var(--bg-color);
  letter-spacing: 0.05em;
  max-width: 650px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  border-style: double;
  border-width: 4px;
  box-shadow: 15px 15px var(--accent-color);
}

p {
  font-size: 1em;
  line-height: 1.3em;
  margin-bottom: 1.5em;
}
pre {
  text-align: right;
  font-family: "Consolas", monospace;
}
img {
  float: right;
  width: 35%;
  margin: 12px;
  border-radius: 5px;
}
footer {
  margin: 40px;
  text-align: center;
  color: darkslategray;
}
a {
  color: var(--font-color);
}
a:visited {
  color: var(--font-color);
}
a:hover{
    font-weight: bold;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 750px) {
  /* Styles */
  body {
    border-style: none;
    margin-top: 0;
  }
}
